@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --c1: hsl(209, 59%, 34%);
    --c2: hsl(14, 92%, 54%);
    --c3: hsl(158, 82%, 50%);

    --bg-dark-1: hsl(210, 31%, 5%);
    --bg-dark-2: hsl(210, 31%, 10%);
    --bg-dark-3: hsl(209, 30%, 15%);

    --bg-light-1: hsl(210, 31%, 95%);
    --bg-light-2: hsl(208, 29%, 90%);
    --bg-light-3: hsl(209, 30%, 85%);
}