main {
    color: white;
}

.title {
    display: flex;
    z-index: 1;
    flex-direction: column;
    margin: 35vh 0 50vh 5rem;
    gap: 1rem;
    width: fit-content;
    animation: slideRight 1s forwards;

    h1 {
        font-size: 3rem;
        font-weight: 900;
    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    padding-inline: 5vw;
    margin-bottom: 10vh;

    h2 {
        margin-bottom: 3rem;
    }
}

.input-box {
    position: relative;
    width: 100%;
    background-color: var(--bg-dark-2);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    border-radius: 1rem;
}

input {
    background: none;
    border: none;
    outline: none;
    padding: 1em;
    width: 100%;
    color: var(--text);
}

textarea {
    background: none;
    border: none;
    outline: none;
    padding: 1em;
    height: 300px;
    width: 100%;
    resize: none;
    color: var(--text);
}

label {
    position: absolute;
    left: 15px;
    top: 8px;
    font-weight: 700;
    color: var(--text);
    transition: transform 250ms;
}

textarea:not(:placeholder-shown)~label,
textarea:focus~label,
input:not(:placeholder-shown)~label,
input:focus~label {
    transform: translateY(-30px) scale(80%);
}

.btn-form {
    display: flex;
    justify-content: center;
    gap: 1rem;

    button {
        padding: 2em;
        color: white;
        font-weight: 900;
        line-height: 0;
        background-color: var(--c1);
        border: none;
        border-radius: 1rem;
        transition: transform, filter;
        transition-duration: 250ms;


        &[type="reset"] {
            background-color: var(--c2);
        }

        &:hover {
            filter: brightness(150%);
            transform: scale(105%);
        }
    }
}

@media (max-width: 640px) {
    .title {
        margin: 35vh 0 50vh 1rem;
    }
}